<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->

<configuration debug="true">

    <property name="applicationName" value="ringo-ssh" />

    <contextName>${applicationName}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd hh:mm:ss.SSS} %-5p %logger.%M [%t] - %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/example.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/example_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd hh:mm:ss.SSS} %-5p %logger.%M [%t] - %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="DEBUG" />
    <logger name="org.hibernate" level="DEBUG" />
    <logger name="org.eclipse" level="INFO" />
    <logger name="org.eclipse.jetty" level="INFO" />
    <logger name="org.quartz" level="INFO" />
    <logger name="bitronix.tm" level="DEBUG" />
    <logger name="org.enhydra" level="INFO" />
    <logger name="org.objectweb" level="INFO" />
    <logger name="org.hibernate.engine.transaction.internal"
        level="OFF" />
    <logger name="org.apache.shiro.web.filter" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
